<div ui-sref="register" ng-click="closeThisDialog()" class="ui button">
  <i class="add icon"></i>
  注册
</div>
<div ui-sref="login" ng-click="closeThisDialog()" class="ui primary button">
  <i class="play icon"></i>
  登录
</div>
