<div class="main ui container">
	<div class="ui warning message">
		<div class="header">
			免责申明
		</div>
		本网站所载文章、数据等内容源自互联网，不保证是否完整，准确或最新，仅供投资者参考，并不构成投资建议。投资者据此操作，风险自担。
	</div>
	<div class="ui red segment">
		<div class="ui form" name="myFilter">
			<div class="ui grid">
				<div class="row">
					<div class="four wide column">
						<label>推荐操作</label>
					</div>
					<div class="ten wide column">
						<div class="inline fields" >
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" value="Buy" ng-model="$ctrl.rec">
									<label>Buy</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="four wide column">
						<label>平均得分</label>
					</div>
					<div class="ten wide column">
						<div class="inline fields" >
							<div class="field">
								<div class="ui radio checkbox">
									<input type="radio" ng-model="$ctrl.avgScore" value="10">
									<label>10</label>
								</div>
								<div class="ui radio checkbox">
									<input type="radio" value="9" ng-model="$ctrl.avgScore">
									<label>9&nbsp &nbsp &nbsp</label>
								</div>
								<div class="ui radio checkbox">
									<input type="radio" value="8" ng-model="$ctrl.avgScore">
									<label>8&nbsp &nbsp &nbsp</label>
								</div>
								<div class="ui radio checkbox">
									<input type="radio" value="7" ng-model="$ctrl.avgScore">
									<label>7&nbsp &nbsp &nbsp</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="column">
					<button ng-click="$ctrl.search()" class="fluid ui positive basic button">Search</button>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<ui-view></ui-view>
</div>