<div class="main ui container" ng-transclude>
	<div class="ui warning message">
		<div class="header">
			免责申明
		</div>
		本网站所载文章、数据等内容源自互联网，不保证是否完整，准确或最新，仅供投资者参考，并不构成投资建议。投资者据此操作，风险自担。
	</div>
	<div class="ui segment">
		<div class="ui fluid action input">
			<input ng-model="$ctrl.code" type="text" ng-keypress=" $event.which === 13 && $ctrl.search()" required placeholder="Search...">
			<button ui-sref-active="active" ui-sref="home.code({code: $ctrl.code})" class="ui button">Search</button>
		</div>
	</div>
	<ui-view></ui-view>
</div>