<html>
    <head>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="lib/angular-base64/angular-base64.min.js"></script>
        <script src="lib/ng-dialog/js/ngDialog.min.js"></script>
        <script src="lib/angular-cookies/angular-cookies.min.js"></script>
        
        <script src="js/app.js"></script>
        <script src="js/components/home.js"></script>
        <script src="js/components/filter.js"></script>
        <script src="js/components/update.js"></script>
        <script src="js/components/login.js"></script>
        <script src="js/components/register.js"></script>
        <script src="js/components/nav.js"></script>
        <script src="js/services/token.js"></script>
        <script src="js/services/stock.js"></script>
        <script src="js/services/user.js"></script>
        <script src="js/services/admin.js"></script>

        <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
        <link rel="stylesheet" href="lib/ng-dialog/css/ngDialog.min.css">
        <link rel="stylesheet" href="lib/ng-dialog/css/ngDialog-theme-default.min.css">
    </head>
    <body ng-app="stockApp">
        <div ng-controller="NavCtrl" class="ui inverted main menu">
            <a ui-sref="home" class="item" ui-sref-active="active">主页</a>
            <a ui-sref="filter" class="item" ui-sref-active="active">推荐</a>
            <a ui-sref="update" class="item" ui-sref-active="active">更新</a>
            <div class="right menu">
                <a ui-sref="login" ui-sref-active="active" class="ui item" ng-hide="$root.isLogin">
                    登录
                </a>
                 <a class="ui item" ng-click="logout()" ng-show="$root.isLogin">
                    登出
                </a>
            </div>
        </div>
        <ui-view></ui-view>
    </body>
</html>
