<div class="ui segment">
        <form class="ui form" ng-hide="$ctrl.isLogin">
          <div class="field">
            <label>用户名</label>
            <input type="text" ng-model="$ctrl.username" placeholder="用户名">
          </div>
          <div class="field">
            <label>密码</label>
            <input type="password" ng-model="$ctrl.password" placeholder="密码">
          </div>
          <button class="fluid positive ui button" ng-click="$ctrl.login()" type="submit">登录</button>
        </form>
</div>