<div class="main ui container">
	<div ng-show="$ctrl.isWarning" class="ui warning message">
		<div class="header">
			注册失败
		</div>
		{{$ctrl.warning}}
	</div>
	<form class="ui form">
		<div class="field">
			<label>邮箱</label>
			<input type="text" requred ng-model="$ctrl.email" placeholder="邮箱">
		</div>
		<div class="field">
			<label>用户名</label>
			<input type="text" requred ng-model="$ctrl.username" placeholder="用户名">
		</div>
		<div class="field">
			<label>密码</label>
			<input type="password" required ng-model="$ctrl.password" placeholder="密码">
		</div>
		<div class="field">
			<label>邀请码</label>
			<input type="text" required ng-model="$ctrl.invite" placeholder="邀请码">
		</div>
		<div class="ui button" ng-click="$ctrl.submit()">提交</div>
	</form>
</div>