<table class="ui green celled table">
	<thead>
		<tr>
			<th>股票代号</th>
			<th ng-click="$ctrl.sortBy('-Data.Summary.Meta.ANALYST_SCORE')">盈利</th>
			<th ng-click="$ctrl.sortBy('-Data.Summary.Meta.FUND_SCORE')">基本因素</th>
			<th ng-click="$ctrl.sortBy('-Data.Summary.Meta.RV_SCORE')">相對估值</th>
			<th ng-click="$ctrl.sortBy('-Data.Summary.Meta.RISK_SCORE')">風險</th>
			<th ng-click="$ctrl.sortBy('-Data.Summary.Meta.TECH_SCORE')">價格動力</th>
			<th>亮点</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="r in $ctrl.recs | orderBy:$ctrl.sortByProp" >
			<td data-tooltip="{{r.Data.Summary.Meta.BUS_DESC}}" data-position="right center"><a ui-sref-active="active" ui-sref="home.code({code:r.Code})">{{r.Code}}</a></td>
			<td><span ng-show="r.Data.Summary.Meta.ANALYST_SCORE >= 0">{{r.Data.Summary.Meta.ANALYST_SCORE}}</span></td>
			<td><span ng-show="r.Data.Summary.Meta.FUND_SCORE >= 0">{{r.Data.Summary.Meta.FUND_SCORE}}</td>
			<td><span ng-show="r.Data.Summary.Meta.RV_SCORE >= 0">{{r.Data.Summary.Meta.RV_SCORE}}</td>
			<td><span ng-show="r.Data.Summary.Meta.RISK_SCORE >= 0">{{r.Data.Summary.Meta.RISK_SCORE}}</td>
			<td><span ng-show="r.Data.Summary.Meta.TECH_SCORE >= 0">{{r.Data.Summary.Meta.TECH_SCORE}}</td>
			<td>{{r.Data.Summary.Meta.AVG_SCORE_HL1}}</td>
		</tr>
	</tbody>
</table>

