<span>平均得分: {{$ctrl.stock.Data.Summary.Meta.AVG_SCORE}}</span>
<img style="margin-left:24%"  class="ui middle aligned image" src="data:image/png;base64,{{$ctrl.stock.Data.Summary.Meta.TREND_IMG_LINK}}">

<div class="ui pink segment">
  <p>{{$ctrl.stock.Data.Summary.Meta.BUS_DESC}}</p>
</div>

<table class="ui violet celled table">
  <thead>
    <tr><th colspan="2">今日表现</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>现价</td>
      <td>{{$ctrl.price.np}}</td>
    </tr>
    <tr>
      <td>交易量</td>
      <td>{{$ctrl.price.vol}}</td>
    </tr>
    <tr>
      <td>今日最高</td>
      <td>{{$ctrl.price.dyh}}</td>
    </tr>
    <tr>
      <td>今日最低</td>
      <td>{{$ctrl.price.dyl}}</td>
    </tr>
    <tr>
      <td>更新时间</td>
      <td>{{$ctrl.price.ltt}}</td>
    </tr>
  </tbody>
</table>

<table class="ui red celled table">
	<thead>
		<tr><th colspan="2">得分细节</th></tr>
	</thead>
	<tbody>
    <tr>
      <td>盈利</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.ANALYST_SCORE}}</td>
    </tr>
    <tr>
      <td>基本因素</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.FUND_SCORE}}</td>
    </tr>
    <tr>
      <td>相對估值</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.RV_SCORE}}</td>
    </tr>
    <tr>
      <td>風險</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.RISK_SCORE}}</td>
    </tr>
    <tr>
      <td>價格動力</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.TECH_SCORE}}</td>
    </tr>
  </tbody>
</table>

<table class="ui green celled table">
  <thead>
    <tr><th colspan="2">技术面</th></tr>
  </thead>
  <tbody>
    <tr>
        <td>收盘价格</td>
        <td>{{$ctrl.stock.Data.Summary.Meta.CLOSE_PRICE}}</td>
    </tr>
    <tr>
        <td>收盘时间</td>
        <td>{{$ctrl.stock.Data.Summary.Meta.CLOSE_DATE}}</td>
    </tr>
    <tr>
        <td>52周最高</td>
        <td>{{$ctrl.stock.Data.Summary.Meta.HIGHPRICE_52W}}</td>
    </tr>
    <tr>
        <td>52周最低</td>
        <td>{{$ctrl.stock.Data.Summary.Meta.LOWPRICE_52W}}</td>
    </tr>
  </tbody>
</table>

<table class="ui blue celled table">
  <thead>
    <tr><th colspan="2">基本面</th></tr>
  </thead>
  <tbody>
    <tr>
      <td>推荐</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.REC_TEXT}}</td>
    </tr>
    <tr>
      <td>亮点1</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.AVG_SCORE_HL1}}</td>
    </tr>
    <tr>
      <td>亮点2</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.AVG_SCORE_HL2}}</td>
    </tr>
    <tr>
      <td>每天交易量</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.AVG_DAILY_VOL}}</td>
    </tr>
    <tr>
      <td>机构持股</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.INST_OWNERSHIP}}</td>
    </tr>
    <tr>
      <td>市值</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.MARKET_CAP}}</td>
    </tr>
    <tr>
      <td>收益</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.REVENUE}}</td>
    </tr>
    <tr>
      <td>预测市盈率</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.FORWARD_PE}}</td>
    </tr>
    <tr>
      <td>历史市盈率</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.TRAILING_PE}}</td>
    </tr>
    <tr>
      <td>股本回报率</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.ROE}}</td>
    </tr>
    <tr>
      <td>末期股息</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.ANNUAL_DIV}}</td>
    </tr>
    <tr>
      <td>周息率</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.DIV_YIELD}}</td>
    </tr>
    <tr>
      <td>报告时间</td>
      <td>{{$ctrl.stock.Data.Summary.Meta.REPORT_DATE}}</td>
    </tr>
  </tbody>
</table>

<table class="ui yellow celled table">
  <thead>
    <tr><th colspan="7">同类比较</th></tr>
    <tr><th>代码</th><th>名字</th><th>-6个月</th><th>-3个月</th><th>-1个月</th><th>-1个星期</th><th>现在</th></tr>
  </thead>
  <tbody>
    <tr ng-repeat="peer in $ctrl.stock.Data.Summary.Peer">
      <td><a ui-sref-active="active" ui-sref="home.code({code: peer.symbol})">{{peer.symbol}}</a></td>
      <td>{{peer.nm}}</td>
      <td>{{peer.AVG_SCORE_6M}}</td>
      <td>{{peer.AVG_SCORE_3M}}</td>
      <td>{{peer.AVG_SCORE_1M}}</td>
      <td>{{peer.AVG_SCORE_1W}}</td>
      <td>{{peer.AVG_SCORE}}</td>
    </tr>
 </tbody>
</table>
