<div class="main ui container">
    <div class="ui segment">
        <form class="ui form" ng-hide="$ctrl.isLogin">
          <div class="field">
            <label>User Name</label>
            <input type="text" ng-model="$ctrl.user" placeholder="User">
          </div>
          <div class="field">
            <label>Password</label>
            <input type="password" ng-model="$ctrl.password" placeholder="Password">
          </div>
          <button class="fluid positive ui button" ng-click="$ctrl.login()" type="submit">login</button>
        </form>

        <form class="ui form" ng-show="$ctrl.isLogin">
          <div class="field">
            <label>Token</label>
            <input type="text" name="token" placeholder="Token" ng-model="$ctrl.token">
          </div>
          <button class="fluid positive ui button" ng-click="$ctrl.submit()" type="submit">Submit</button>
          <br>
          <button class="fluid negative ui red button" ng-click="$ctrl.update()" >Update</button>
        </form>
    </div>
</div>
